.match-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1C1121;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    overflow-y:hidden ;
    perspective: 3000px;
    z-index: 1;
    padding-bottom: 2rem;
}

/* .match-parallax{
    width: 100%;
    height: 100%;
    top: -10%;
    position: absolute;
    background-image: url('../../Images/bg1.png');
    transform: translateZ(-10px) scale(1.1);
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 80%;
    background-repeat: no-repeat;
    z-index: -1;
} */

.match{
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: #1c1c1c00;
    
}

.match-head-cont{
    margin-top: 40px;
    width: 100%;
}

.match-head{
    font-size: 36px;
    font-family: 'Rajdhani';
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.match-bar-cont{
    /* margin-top: 20px; */
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
}

.match-bar{
    height: 20px;
    width: 60px;
    background-color: #E00000;
    margin-right: 10px;
    transform: skew(-20deg);
}

.match-cont-1{
    margin-top: 40px;
}

.match-cont-2{
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.match-box-1{
    background-color: #171A21;
    width: 40%;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.match-box-1-img-cont{
    width:40% ;
    padding: 1rem;
}

.match-box-1-img{
    width:100% ;
}

.match-box-1-text-cont{
    width:60% ;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center     ;
    flex-wrap: wrap;
}

.match-text-1{
    font-size: 30px;
    color:#e00000 ;
    font-family: 'Rajdhani';
    font-weight: bold;
    width: 100%;
    height: fit-content;
}

.match-text-2{
    width: 100%;
    margin-top: 20px;
}

.match-box-2{
    background-color: #171A21;
    width: 30%;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.match-box-2:hover{
    background-color: #e00000;
    cursor: url('../../Images/bgcursor.png'),auto;
}

.match-time{
    width: 100%;
    font-size: 40px;
    font-family: 'Rajdhani';
    font-weight: bold;
    text-align: center;
}

.match-date{
    width: 100%;
    font-size: 24px;
    font-family: 'Rajdhani';
    font-weight: bold;
    text-align: center;
}

.match-icons{
    text-align: center;
    width: 100%;
}

@media (max-width:1000px){
    .match-head{
        font-size: 30px;
    }

    .match-bar-cont{
        padding: 0rem 1rem;
    }

}

@media (max-width:750px){

    .match-cont-2{
        padding: 1rem 2rem;
    }

    .match-box-1{
        width: 100%;
        margin-right: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px ;
    }
    
    .match-box-1-img-cont{
        width:100% ;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .match-box-1-img{
        width:40% ;
    }
    
    .match-box-1-text-cont{
        width:100% ;
    }
    
    .match-text-1{
        text-align: center;

    }
    
    .match-text-2{
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }

    .match-box-2{
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px ;
        background-color: #e00000;
    }
    
    .match-time{
        font-size: 32px;
    }
    
    .match-date{
        width: 100%;
        font-size: 20px;
        font-family: 'Rajdhani';
        font-weight: bold;
        text-align: center;
    }
    
    .match-icons{
        text-align: center;
        width: 100%;
        padding: 0%;
    }

}

