.intro-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../../Images/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    position: relative;
    overflow-x: hidden;
    overflow-y:hidden ;
}

.intro{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    overflow-x: hidden;
    position: relative;
}

.intro-left{
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.intro-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: coral; */
}

.intro-head{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Rajdhani';
    color: white;
    display: none;
    padding: 1rem;
    border-radius: 10px;
    max-width: 85%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
}

.intro-text{
    font-size: 18px;
    color: #818992;
    margin-top: 26px;
    max-width: 85%;
}

.intro-button-cont{
    margin-top: 26px;
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#how-bid-btn{
    color: #716c80;
    background-color: white;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 6px ;
    cursor: pointer;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-button{
    background-color: #FF033E;
    color: white;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 6px ;
    font-family: 'Rajdhani';
    cursor: pointer;
    animation: movebounce 2s linear infinite;
    box-shadow: 0px 0px 32px 8px rgba(245,30,58,0.45);

}

@keyframes movebounce
{
    0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@media (max-width:1400px){
    .intro-head{
        width: 100%;
        max-width: 100%;
    }   
}

@media(max-width:850px){
    .intro-cont{
        background-position: center bottom;
        background-image: url('../../Images/mobg.png');
    }

    .intro-head{
        text-align: center;
        display: block;
    }

    #how-bid-btn{
        padding: 0.5rem;
        font-size: 16px;
    }
}

@media (max-width:600px){

    .intro-head{
        display: none;
    }

    .intro-button-cont{
        width: 100%;
        justify-content: center;
    }
    .intro-button{
        font-size: 24px;
        min-width: 20rem;
    }
    
}