.merch-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1C1121;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    overflow-y:hidden ;
    perspective: 3000px;
    z-index: 1;
    padding-bottom: 2rem;
}

.merch{
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: #1c1c1c00;
    
}

.merch-head-cont{
    margin-top: 40px;
    width: 100%;
}

.merch-head{
    font-size: 36px;
    font-family: 'Rajdhani';
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.merch-bar-cont{
    /* margin-top: 20px; */
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
}

.merch-bar{
    height: 20px;
    width: 60px;
    background-color: #E00000;
    margin-right: 10px;
    transform: skew(-20deg);
}

.merch-tag{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

.merch-tag-2{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}

.merch-btn-cont{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch-btn{
    background-color: #e00000;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.merch-btn:hover{
    background-color: black;
    
}
.merch-cont-1{
    margin-top: 40px;
}

.merch-cont-2{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.merch-box-1-cont{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.merch-box-1{
    background-color: #171A21;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.merch-box-1-img-cont{
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.merch-box-1-img{
    width:100% ;
    transition: 0.5s;
}

.merch-box-1-img:hover{
    transform: scale3d(1.1,1.1,1.1);
}

.merch-box-1-text-cont{
    width:100% ;
    padding: 1rem;
    padding-bottom: 2rem;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.merch-text-1{
    font-size: 30px;
    color:white ;
    font-family: 'Rajdhani';
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.merch-text-2{
    width: 100%;
    color: #e00000;
    text-align: center;
}

@media (max-width:1000px){
    
    .merch{
        min-height: 60vh;
    }

}

@media (max-width:750px){

    .merch{
        min-height: 100vh;
    }

    .merch-box-1-cont{
        width: 100%;
    }

    .merch-box-1{
        width: 100%;
    }

    .merch-tag{
        font-size: 24px;
    }
    
    .merch-box-1-img-cont{
        width:100% ;
    }
    
    .merch-box-1-img{
        width:100% ;
    }
    
    .merch-box-1-text-cont{
        width:100% ;
    }
    
    .merch-text-1{
        text-align: center;
    }
    
    .merch-text-2{
        width: 100%;
        text-align: center;
    }
    .merch-box-2{
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px ;
        background-color: #e00000;
    }

    .merch-btn{
        font-size: 18px;
    }
    

}

