body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: auto !important;
  cursor: url('./Images/cursor.png'),auto;
}

.App {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
